html,
body,
div,
p {
    border: 0;
    font: inherit;
    font-family: 'Roboto', Verdana, 'Trebuchet MS', Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;

    & :focus {
        outline: none;
    }
}
